# KiCad backup and autosave files
*.bak
*.kicad_prl
*.kicad_pro
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups/
.history/

# OS files
.DS_Store
Thumbs.db

# Ignore everything in flight_controller except main files
pcb/flight_controller/*
!pcb/flight_controller/flight_controller.kicad_pcb
!pcb/flight_controller/flight_controller.kicad_sch